
* {

    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}


/*Main structure*/

.container {
    height: auto;
    /*padding: 16px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .item {
    width: 100%;
    padding: 6%;
    height: fit-content;
  }

  /*Nav*/

  nav {
    width: 90%;
    height: fit-content;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #E5E7Eb;
    background:#1F2937;
  }

  .logo-div {
    width: 50%;
    text-align: left;
    font-size: 24px;
    color: #F9FAF8;
  }

  .nav-div {
    width: 50%;
    display: flex;
    width: fit-content;
    text-align: right;
    justify-content: space-between;
    color: #E5E7Eb;
    gap: 10px;
  }
  /*Header*/

  header {
    width: 100%;
    height: fit-content;
    margin: 8%;
    background:#1F2937;
  }
  

  .header-flex{
    width: 90%;
    height: fit-content;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .placeholder{
    width: 400px;
    height: 250px;
    margin: 8px;
    background-color: lightgray;
    border: solid lightgray;
    border-radius: 10px;
  }
  .header-flex-item-right .placeholder p{
    color: black;
    text-align: center;
    margin-top: 28%;
  }

  .header-flex-item-right{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 8%;
    /*border: dashed black;*/
  }

  .header-flex-item-left{
    width: 50%;
    height: auto;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    margin: 8%;
    /*border: dashed black;*/
  }

  .header-flex-item-left h3{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
  }
  .header-flex-item-left p{
    font-size: 18px;
    color: #E5E7Eb;
  }

  .header-flex-item-left button{
    background-color: #3882F6;
    color: white;
    padding: 1% 2%;
    border: solid white;
    border-radius: 10px;
    margin-left: 0%;
  }


  /*Random info section*/

  #random-info{
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #random-info-flex {
    background: white;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .rounded-box{
    width: 175px;
    height: 175px;
    margin: 8px;
    border: solid blue;
    border-radius: 10px;
  }

  .random-info-item{
    width: fit-content;
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8px;
    /*border: dashed black;*/
  }


  /*Quote section*/

  .quote-wrap{
    width: 50%;
    height: auto;
  }

  #quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  figcaption{
    font-style: bold;
    font-weight: 800;
    text-align: right;
}

  /*Footer / call to action*/

  footer {
    width: 100%;
    height: fit-content;
    margin: 8%;
}

  .call-to-action-text{
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
  }
  .call-to-action{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #3882F6;
    color: white;
    border: solid #3882F6;
    border-radius: 10px;
  }

  .call-to-action button{
    background-color: #3882F6;
    color: white;
    padding: 8px 12px;
    border: solid white;
    border-radius: 10px;
  }
  
  

